@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0%;
  }
  
  body{
    background-image: linear-gradient(#f8da80,white,white);
  }
  
  .cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px;
    justify-content: space-around;
    padding: 5px;
    background: #f8da80;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(0, 0, 0, 0.144);
  }
  
  
  .cabeçalho-imagem {
    height: 110px;
    width: 360px;
    margin-right: 45%;
  
  }
  
  .cabeçalho-menu-item {
    font-family: "Source Code Pro", monospace;
    color: #2d3f4e;
    font-weight: 600;
    font-size: 16.5px;
    letter-spacing: 3px;
  }
  
  .cabeçalho-menu {
    display: flex;
    gap: 50px;
  }

.conteudo-secundario{
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin: 160px ; 
    margin-top: 65px;
    align-items: center;
}

.imgbeto{
    width: 105%;
    margin-bottom: 20px;
}

.conteudo-escrito {
    display: flex;
    flex-direction: row;
}

.teste {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pata-amarela {
    width: 30px;
    height: 30px;
    gap: 10px;
}

.h1 {
  font-family: "Source Code Pro", monospace; /* Tente outra fonte para teste */
  font-size: 100px !important; /* Teste com !important */
  color: #556347;
  margin-top: -5% !important;
}

p{
    color: #2d3f4e;
    font-size: 22px;
    letter-spacing: 0,7px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
}

.informa{
    color: #2d3f4e;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    text-align: center;
  }


.informa2{
    color: #ffc759;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    text-align: center;

}

.informaçao{
    margin-top: 45%;
}

:root {
    --color-neutral-0: #778766;
    --color-neutral-10:#f8da80 ;
    --color-neutral-30: #272727;
    --color-neutral-40: #556347;
  }
  
  footer {
    width: 100%;
    color: var(--color-neutral-40);
  }
  
  .footer-link {
    text-decoration: none;
  }
  
  .h3{
  font-size: 20px;
  }
  
  #footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    position: relative;
      z-index: 1;
      overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(0, 0, 0, 0.329);
  }
  
  .titulo-1{
    font-size: 25px;
    color: #556347;
  }
  
  #footer_contacts h1 {
    margin-bottom: 0.75rem;
  }
  
  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  } 
  
  #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
    font-size: 1.25rem;    
  }
  
  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
    background-color: #4267b3;
  }
  
  #whatsapp {
    background-color: #25d366;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
    color: #ffffff;
  }
  
  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #footer_subscribe p {
    color: var(--color-neutral-30);
  }
  
  #input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
  }
  
  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  .g-i-t form {
  display: flex;
      flex-direction: column;
      margin-top: 1rem;
      --tw-space-y-reverse: 0;
      margin-top: calc(0.5rem* calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0.5rem* var(--tw-space-y-reverse));
  }
  
  form .g-inp {
    padding: .25rem .5rem;
    font-size: 16px;
    border: none;
  }
  
  .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem* var(--tw-space-y-reverse));
    border: none;
  }
  
  .f-btn {
    padding: .25rem 1rem;
    background-color: var(--color-neutral-0);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
  
  
  #input_group button:hover {
    opacity: 0.8;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
  }
  
  .Copyright{
    color: #ffffff;
    font-size: 20px;
  }